<!DOCTYPE html>
<html lang="vi">
  <head><%-include('partials/head')%></head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%-include('partials/sidebar')%>
        <%-include('partials/nav')%>
        <%-include('partials/main')%>
        <%-include('partials/footer')%>
      </div>
    </div>
    <%-include('partials/js')%>
  </body>
</html>
